body{
    font-family: sans-serif;
}
header {
    background-image: linear-gradient( to right, #bfccfb 50%, rgba(255, 255, 255, 0) ), url('plage1.jpg');
    background-size: cover;
    margin-bottom: 4rem;
  }
#plage{
background-image: linear-gradient( to right, #FDF7DD 50%, rgba(255, 255, 255, 0) ), url('plage1.jpg');
}

header h1 {
    margin: 0;
    margin-left: 8%;
    padding: 5% 0;
    font-size: 4em;
  }

body{
    margin: 0;
}

fieldset{
    border: none;
}

li{
    
    border-style: solid;
    border-bottom-color: #EFCB3A;
    display: flex;
    justify-content: space-between;
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 2px;
    padding: 0% 0% 3% 0%;
    margin-bottom: 6%;
}
.inscriptionMer{
    border-style: solid;
    border-bottom-color: #BFCCFB;
    display: flex;
    justify-content: space-between;
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 2px;
    padding: 0% 0% 3% 0%;
    margin-bottom: 6%;
}

button{
    /*width: 20%;*/
    background-color: white;
    /*border-style: solid;*/
    color: #000091;
    /*#929292*/
    font-size: 1em;
    padding: 0.6% 1.5% 0.3% 1.5%;
    border-color: #000091;
    border-width: 1px;
}
#submit{
    cursor: pointer;
}

button:disabled{
    border-color: #92929270;
    border-width: 1px;
    background-color: white;
    color: #9292928f;
    border-width: 1px;
}

main{
    width: 31%;
    margin-left: 8%;
}